<!DOCTYPE html>
<html ng-app="expensesApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/semantic.min.js"></script>
    <title>Expenses!</title>
</head>
<body ng-controller="ExpenseController" class="container">
    <div class="ui center aligned container">
        <h1>Expenses Control</h1>
    </div>

    <div class="ui two column centered grid">
        <div class="column">
            <form class="ui form" name="formExpenses" ng-submit="save();" novalidate>
                <div class="field">
                    <label>Description</label>
                    <input type="text" name="textDescription" ng-model="expense.description" ng-required="true" ng-maxlength="10"/>
                </div>
                <span style="color: red;" ng-show="formExpenses.textDescription.$error.required">
                    The field Description is required!
                </span>

                <div class="field">
                    <label>Value</label>
                    <input type="text" name="textValue" ng-model="expense.value" ng-required="true"/>
                </div>
                <div class="field">
                    <label>Date</label>
                    <input type="date" name="textDate" required ng-model="expense.date" />
                </div>
                <div class="field">
                    <label>Number of Installments</label>
                    <input type="number" name="textInstallment" required ng-model="expense.installments" />
                </div>
                <button class="ui positive button" ng-disabled="formExpenses.$invalid" type="submit">Save!</button>
            </form>
        </div>
    </div>
</body>
</html>